:root{
   /* Backgrounds */
  --bg-main: #f8f9fa;
  --bg-card: #ffffff;
  --bg-footer: #5a9db7;

  /* Brand / Ação */
  --primary: #62A1BB;
  --primary-hover: #4f8ea6;

  /* Títulos */
  --title-main: #1a470f;
  --title-secondary: #6fa83a;

  /* Texto */
  --text-main: #333333;
  --text-muted: #6c757d;

  /* Estados */
  --success: #7bbf6a;
  --focus: #9fd3e5;

  /* box shadow */
  --box-shadow: 0 0 10px -5px var(--text-muted);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dislexia-section{
    max-width: 90%;
    margin: 3rem auto;
    padding: 0;
    text-align: center;
}

.dislexia-img{
    max-width: 85%;
    margin: auto;
}

.dislexia-img img{
    width: 85%;
    height: auto;
    border-radius: 15px 50px;
    box-shadow: 0 0 15px -5px var(--text-muted);
    object-fit: cover;
    margin: 50px auto;
}

.dislexia-section h1{
    font-size: 2rem;
    color: var(--title-main);
    font-weight: bold;
    margin-bottom: 50px;
}

.dislexia-section h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--title-main);
    margin: 10px auto;
    border-radius: 2px;
}

.dislexia-section p{
    text-align: justify;
    font-size: 1rem;
    font-weight: 600;
    max-width: 85%;
    margin: 0 auto 3rem;
    hyphens: auto;
}

.dislexia-section p > span{
    color: var(--title-main);
    font-weight: bold;
}

.cards-container{
    max-width: 90%;
    margin: 4rem auto;
    padding: 0 1rem;
}

#cards-titulo{
    color: var(--title-main);
    font-size: 1.5rem;
    font-weight: bold;
}

#cards-titulo::after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: var(--title-main);
    margin: 10px auto;
    border-radius: 2px;
}

.card-list{
    list-style-type: none;
}

.card{
    background-color: var(--bg-main);
    box-shadow:  0 0 15px -5px var(--text-main);
    border-radius: 15px 50px;
}

.card h3{
    font-size: 1.3rem;
}

.card p{
    color: var(--text-main);
    text-align: left;
    hyphens: auto;
    font-size: 1rem;
}