:root {
    /* Backgrounds */
    --bg-main: #f8f9fa;
    --bg-card: #ffffff;
    --bg-footer: #5a9db7;

    /* Brand / Ação */
    --primary: #62A1BB;
    --primary-hover: #4f8ea6;

    /* Títulos */
    --title-main: #4f7f12;
    --title-secondary: #6fa83a;

    /* Texto */
    --text-main: #333333;
    --text-muted: #6c757d;

    /* Estados */
    --success: #7bbf6a;
    --focus: #9fd3e5;

    /* box shadow */
    --box-shadow: 0 0 10px -5px var(--text-muted);
}

@media (min-width: 720px) and (max-width: 919px) {
    .logo {
        width: 90px;
        height: 70px;
        position: fixed;
        top: 30px;
        right: 40px;
    }

    .navbar {
        height: 90px;
    }

    .nav-list {
        width: 40%;
    }

    .menu-toggle {
        width: 40px;
        height: 35px;
        position: fixed;
        top: 30px;
        left: 50px;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }


    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-21px) rotate(-45deg);
    }


    .nav-list li {
        margin: 120px 35px;
    }

    .nav-list a {
        font-size: 1.3rem;
    }

    /* Àrea do Principal - INÍCIO */

    .hero-image img{
        width: 55%;
        height: auto;
        margin: 40px auto;
        border-radius: 20px 90px;
        box-shadow: 0 0 40px -20px var(--text-muted);
    }

    .hero-content h1{
        font-size: 2.5rem;
        max-width: 95%
    }   

    .hero-content p{
        font-size: 1.6rem;
        max-width: 80%;
        text-align: justify;
        hyphens: auto;
        margin-bottom: 60px;
    }

    .hero-button{
        font-size: 1.8rem;
        padding: 10px 20px;
    }

    .sobre h2{
        font-size: 2.5rem;
    }

    .sobre h2::after{
        display: block;
        width: 120px;
        height: 3px;
    }

    .sobre-areas img{
        width: 250px;
        height: auto;
        margin-right: 25px;
        margin-top: 40px;
        border-radius: 40px 10px 10px 40px;
        box-shadow: 0 0 50px -20px var(--text-muted);
    }

    .areas{
        margin: 0 auto;
    }

    .areas li{
        position: relative;
        line-height: 4.4;
        font-size: 1.5rem;
        margin-left: 80px;
        margin-top: 10px;

    }

    .btn-sobre{
        max-width: 50%;
        display: block;
        margin: 20px auto;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .redes-sociais{
        font-size: 2.8rem;
    }

    .carrocel-tittle{
        font-size: 2.5rem;
        margin-top: 100px;
    }

    .carrocel-tittle::after{
        display: block;
        width: 120px;
        height: 3px;
    }

     .carrocel{
        max-width: 80%;
    }
    .card{
        max-width: 80%;
        border-radius: 30px 90px;
    }

    .card h3{
        font-size: 1.6rem;
    }

    .card p{
        font-size: 1.4rem;
    }

    .nosso-espaço h3{
        font-size: 2.5rem;
        margin: 100px auto;
    }

    .nosso-espaço h3::after{
        display: block;
        width: 120px;
        height: 3px;
    }

    .galeria-fotos{
        max-width: 90%;
        display: block;
        margin: 0 auto;
    }

    .slide img{
        max-width: 80%;
        border-radius: 20px 90px;
        margin-bottom: 100px;
    }

    .galeria-btn{
        background-color: transparent;
    }

    .footer-address p{
        font-size: 1.3rem;
        text-align: center;
    }

    .footer-phone{
        margin-top: 1.3rem;
        margin-bottom: -1rem;
    }

    .footer-bottom{
        font-size: 1.2rem;
    }

    .footer-phone a:focus-visible{
        outline: 3px solid var(--bg-main    ); 
        outline-offset: 10px;
        border-radius: 4px;
    }



    /* SOBRE CHARLLENE */

    .sobre h1{
        font-size: 3.5rem;
        margin-top: 100px;
    }

    .sobre h1::after{
        width: 120px;
        height: 3px;
    }

    .sobre-imagem img{
        width: 50%;
        margin-left: 23%;
        margin-top: 50px;
    }

    .sobre-texto > p{
        font-size: 1.4rem;
        max-width: 80%;
        text-align: justify;
        margin-left: 60px;
    }

    .button{
        font-size: 1.6rem;
        margin-left: 30%;
        margin-top: 60px;
        background-color: var(--title-main);
    }

    .button a{
        color: var(--bg-main);
        padding: 20px 40px;
        text-decoration: none;
        cursor: pointer;

    }

    .button a:focus-visible{
        outline: 3px solid var(--title-main); 
        outline-offset: 20px;
        border-radius: 4px;
    }

    /* TDAH */

    .tdah-image img{
        width: 60%;
        margin-top: 100PX;
    }

    .tdah-section h1{
        font-size: 3REM;
    }

    .tdah-section h1::after{
        width: 50px;
        height: 4px;
    }

    .tdah-texto{
        font-size: 1.5rem;
        max-width: 80%;
    }

    .cards-container h2{
        font-size: 2.2rem;
    }

    .cards-container h2::after{
        width: 120px;
        height: 4px;
    }

    /* AUTISMO  */

    .autismo-image img{
        width: 60%;
        margin-top: 170px;
    }

    .autismo-section h1{
        font-size: 3rem;
    }

    .autismo-section h1::after{
        width: 120px;
        height: 3px;
    }

    .texto p {
        font-size: 1.6rem;
        text-align: justify;
        max-width: 80%;
        margin-top: 60px;
    }

    .cards > h3{
        font-size: 2.2rem;
    }

    .cards > h3::after{
        width: 120px;
        height: 3px;
    }
    
    .cards-lista{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .card h4{
        font-size: 1.5rem;
        color: var(--title-main);
    }

    /* DISLEXIA */

    .dislexia-img img{
        width: 70%;
        border-radius: 20px 70px;
        margin-top: 100px;
    }

    .dislexia-section h1{
        font-size: 3rem;
    }

    .dislexia-section h1::after{
        width: 90px;
        height: 4px;
    }

    .dislexia-section p {
        font-size: 1.6rem;
    }

    #cards-titulo{
        font-size: 2.5rem;
    }

    .card{
        border-radius: 20px 60px;
        margin: 80px auto;
        box-shadow:  0 0 20px -10px var(--text-main);
    }

    .card p{
        text-align: justify;
        hyphens: auto;
        font-size: 1.4rem;
    }

    /* TEA / TOD */

    .tea-image img{
        width: 60%;
        margin-left: 19%;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .tea-titulo{
        font-size: 3rem;
    }

    .texto{
        font-size: 1.5rem;
        max-width: 80%;
    }

    .cards-container h2{
        font-size: 2.2rem;
        margin-top: 100px;
    }

    .cards-container h2::after{
        width: 120px;
        height: 2px;
    }

    .card{
        border-radius: 20px 70px;
    }

    .card h3{
        font-size: 1.7rem;
    }

    .card p{
        font-size: 1.3rem;
        padding: 40px;
        text-align: left;
    }


}

@media (min-width: 920px) {
    
    /* NAVBAR */

    .menu-toggle {
        display: none;
    }

    .overlay {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        transform: none;
        background-color: var(--bg-main);
    }

    .nav-list a {
        font-size: 1rem;
    }

    .nav-list a:hover {
        text-decoration: underline;
        color: var(--title-secondary);
    }

    .logo {
        position: fixed;
        top: 10px;
        left: 20px;
    }


    /* INICIO */

    .hero-site{
        display: flex;
        flex-direction: row;
    }

    .hero-site img{
        width: 70%;
        margin-left: 100px;
        margin-top: 90px;
        border-radius: 30px 100px;
    }

    .hero-content{
        margin-right: 10%;
        margin-top: 40px;  
    }

    .hero-content h1{
        text-align: left;
        font-size: 2rem;
        margin-top: 50px;
    }

    .hero-content p{
        font-size: 1.4rem;
        text-align: justify;
        hyphens: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .hero-button{
        font-size: 1.5rem;
        padding: 20px 40px;
    }

    .sobre h2{
        font-size: 3rem;
        margin-top: 100px;
    }

    .sobre h2::after{
        width: 120px;
        height: 3px;
    }

    .areas{
        max-width: 60%;
        margin: 0 auto;
    }

    .areas li{
        font-size: 1.7rem;
        margin-top: 50px;
        margin-left: 10px;
        line-height: 3.4;
    }

    .sobre-areas img{
        width: 30%;
        margin-left: 100px;
        margin-top: 50px;
    }

    .btn-sobre{
        max-width: 50%;
        font-size: 1.8rem;
        margin-left: 25%;
        margin-top: 80px;
        padding: 20px;
        font-weight: bold;
        border-radius: 10px;
    }

    .redes-sociais{
        font-size: 3.5rem ;
        margin-top: 5rem;
    }

    .carrocel-tittle{
        font-size: 3rem;
        margin-top: 3rem;
    }

    .carrocel-tittle::after{
        width: 150px;
        height: 4px;
        margin-top: 1rem;
    }

    

}