:root{
   /* Backgrounds */
  --bg-main: #f8f9fa;
  --bg-card: #ffffff;
  --bg-footer: #5a9db7;

  /* Brand / Ação */
  --primary: #62A1BB;
  --primary-hover: #4f8ea6;

  /* Títulos */
  --title-main: #4f7f12;
  --title-secondary: #6fa83a;

  /* Texto */
  --text-main: #333333;
  --text-muted: #6c757d;

  /* Estados */
  --success: #7bbf6a;
  --focus: #9fd3e5;

  /* box shadow */
  --box-shadow: 0 0 10px -5px var(--text-muted);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.sobre{
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem 1.5rem;
}

.sobre h1{
    margin-top: 50px;
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 50px;
    color: var(--title-main);
}

.sobre h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--title-main);
    margin: 12px auto 0;
    border-radius: 2px;
}

.sobre-imagem img{
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: var(--bg-main);
    border-radius: 10px 50px 50px 10px;
    box-shadow: 0 0 10px -5px var(--text-muted);
    margin-bottom: 40px;
}

.sobre-texto > p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: 500;
}

.sobre-texto p > span{
    color: var(--title-main);
    font-weight: bold;
}

.sobre-texto a{
    color: var(--title-main);
}

.button{
    display: inline-block;
    background-color: transparent;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px -5px var(--text-muted);
}

.button:focus-visible{
    outline: 3px solid var(--title-main); 
    outline-offset: 10px;
    border-radius: 4px;
}

