:root{
   /* Backgrounds */
  --bg-main: #f8f9fa;
  --bg-card: #ffffff;
  --bg-footer: #5a9db7;

  /* Brand / Ação */
  --primary: #62A1BB;
  --primary-hover: #4f8ea6;

  /* Títulos */
  --title-main: #4f7f12;
  --title-secondary: #6fa83a;

  /* Texto */
  --text-main: #333333;
  --text-muted: #6c757d;

  /* Estados */
  --success: #7bbf6a;
  --focus: #9fd3e5;

  /* box shadow */
  --box-shadow: 0 0 10px -5px var(--text-muted);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

.tdah-section{
    max-width: 100%;
    margin: 4rem auto;
    padding: 0 1rem;
    text-align: center;
}

.tdah-image{
    max-width: 90%;
    margin: 0 auto 2rem;
}

.tdah-image img{
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 15px 50px;
    box-shadow: 0 0 15px -5px var(--text-muted);
    object-fit: cover;
}

.tdah-section h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    color: var(--title-main);
    font-weight: bold;
}

.tdah-section h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--title-main);
    margin: 10px auto;
    border-radius: 2px;
}

.tdah-texto{
    max-width: 85%;
    margin: 0 auto 3rem;
    line-height: 1.5;
    color: var(--text-main);
    font-weight: 500;
    text-align: left;
    hyphens: auto;
    font-size: 1rem;
}

.tdah-texto > span{
    color: var(--title-main);
    font-weight: bold;
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto; 
}

.cards-container h2 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    color: var(--title-main);
    margin-top: 30px;
}

.cards-container h2::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--title-main);
    margin: 10px auto;
    border-radius: 2px;
}

/* Card */
.card {
    background-color: var(--bg-main);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 0 10px -5px var(--text-main);
}

/* Pergunta */
.card h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #4f7f12;
}

/* Resposta */
.card p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #2f2f2f;
}

