:root {
    /* Backgrounds */
    --bg-main: #f8f9fa;
    --bg-card: #ffffff;
    --bg-footer: #5a9db7;

    /* Brand / Ação */
    --primary: #62A1BB;
    --primary-hover: #4f8ea6;

    /* Títulos */
    --title-main: #1a470f;
    --title-secondary: #6fa83a;

    /* Texto */
    --text-main: #333333;
    --text-muted: #6c757d;

    /* Estados */
    --success: #7bbf6a;
    --focus: #9fd3e5;

    /* box shadow */
    --box-shadow: 0 0 10px -5px var(--text-muted);
}

@media (min-width: 640px) and (max-width: 920px) {
    .logo {
        width: 90px;
        height: 70px;
        position: fixed;
        top: 30px;
        right: 40px;
    }

    .navbar {
        height: 90px;
    }

    .nav-list {
        width: 40%;
    }

    .menu-toggle {
        width: 40px;
        height: 35px;
        position: fixed;
        top: 30px;
        left: 50px;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }


    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-21px) rotate(-45deg);
    }


    .nav-list li {
        margin: 120px 35px;
    }

    .nav-list a {
        font-size: 1.3rem;
    }

    /* Àrea do Principal - INÍCIO */

    .hero-image img{
        width: 40%;
        height: auto;
        margin: 70px auto 20px;
        border-radius: 20px 90px;
        box-shadow: 0 0 40px -20px var(--text-muted);
    }

    .hero-content h1{
        font-size: 2.2rem;
        max-width: 95%
    }   

    .hero-content p{
        font-size: 1.6rem;
        max-width: 80%;
        text-align: justify;
        hyphens: auto;
        margin-bottom: 60px;
    }

    .hero-button{
        font-size: 1.8rem;
        padding: 10px 20px;
    }

    .sobre-container{
        max-width: 80%;
        margin: 100px auto 0;
    }

    .sobre-charllene h2{
        font-size: 2.5rem;
    }

    .sobre-charllene p{
        font-size: 1.5rem;
    }

    .redes-sociais{
        font-size: 2.8rem;
    }

    .carrocel-tittle{
        font-size: 2.5rem;
        margin-top: 100px;
    }

    .carrocel-tittle::after{
        display: block;
        width: 120px;
        height: 3px;
    }

     .carrocel{
        max-width: 80%;
    }
    .card{
        max-width: 90%;
        border-radius: 10px;
    }

    .card h3{
        font-size: 1.6rem;
    }

    .card p{
        font-size: 1.4rem;
    }

    .carrocel-control{
        width: 60px;
        height: 60px;
    }

    .nosso-espaço h3{
        font-size: 2.5rem;
        margin: 80px auto;
    }

    .nosso-espaço h3::after{
        display: block;
        width: 120px;
        height: 3px;
    }

    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria-fotos{
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .slide img{
        width: 100%;
        border-radius: 20px;
        margin-bottom: 100px;
    }

    .footer-address p{
        font-size: 1.3rem;
        text-align: center;
    }

    .footer-phone{
        margin-top: 1.3rem;
        margin-bottom: -1rem;
    }

    .footer-bottom{
        font-size: 1.2rem;
    }

    .footer-phone a:focus-visible{
        outline: 3px solid var(--bg-main    ); 
        outline-offset: 10px;
        border-radius: 4px;
    }



    /* TDAH */

    .tdah-image img{
        width: 60%;
        margin-top: 100PX;
    }

    .tdah-section h1{
        font-size: 3REM;
    }

    .tdah-section h1::after{
        width: 50px;
        height: 4px;
    }

    .tdah-texto{
        font-size: 1.5rem;
        max-width: 80%;
    }

    .cards-container h2{
        font-size: 1.5rem;
    }

    .cards-container h2::after{
        width: 120px;
        height: 4px;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
    }

    .card h3{
        font-size: 1rem;
    }

    .card p {
        font-size: 1rem;
        font-weight: 800;
        text-align: center;
        hyphens: auto;
    }

    /* AUTISMO  */

    .autismo-image img{
        width: 60%;
        margin-top: 170px;
    }

    .autismo-section h1{
        font-size: 2rem;
        margin-top: 50px;
    }

    .autismo-section h1::after{
        width: 120px;
        height: 3px;
    }

    .texto p {
        font-size: 1.6rem;
        text-align: justify;
        max-width: 80%;
        margin-top: 60px;
        margin-left: 25%;
    }

    .cards > h3{
        font-size: 2.2rem;
    }

    .cards > h3::after{
        width: 120px;
        height: 3px;
    }
    
    .cards-lista{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .card h4{
        font-size: 1.5rem;
        color: var(--title-main);
        margin-top: 30px;
    }

    .card p{
        margin-top: -5px;
        text-align: center;
    }

    /* DISLEXIA */

    .dislexia-img img{
        width: 70%;
        border-radius: 20px 70px;
        margin-top: 100px;
    }

    .dislexia-section h1{
        font-size: 3rem;
    }

    .dislexia-section h1::after{
        width: 90px;
        height: 4px;
    }

    .dislexia-section p {
        font-size: 1.6rem;
    }

    #cards-titulo{
        font-size: 2.5rem;
        text-align: center;
        margin-top: 100px;
    }

    .card{
        border-radius: 15px;
        margin: 80px auto;
        box-shadow:  0 0 20px -10px var(--text-main);
    }

    .card p{
        text-align: center;
        hyphens: auto;
        font-size: 1.4rem;
    }

    .card-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* TEA / TOD */

    .tea-image img{
        width: 60%;
        margin-left: 19%;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .tea-titulo{
        font-size: 3rem;
    }

    .texto{
        font-size: 1.5rem;
        max-width: 80%;
    }

    .cards-container h2{
        font-size: 2.2rem;
        margin-top: 100px;
    }

    .cards-container h2::after{
        width: 120px;
        height: 2px;
    }

    .card{
        border-radius: 15px;
    }

    .card h3{
        font-size: 1.5rem;
    }

    .card p{
        font-size: 1rem;
        text-align: center;
        font-weight: 900;
    }

    .cards-tod{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }


}

@media (min-width: 921px) {
    
    /* NAVBAR */

    .menu-toggle{
        display: none;
    }

    .overlay {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        transform: none;
        background-color: var(--bg-card);
    }

    .nav-list a {
        font-size: 1rem;
    }

    .nav-list a:hover {
        text-decoration: underline;
        color: var(--title-secondary);
    }

    .logo {
        position: fixed;
        top: 10px;
        left: 20px;
    }


    /* INICIO */

    .hero-site{
        display: flex;
        flex-direction: row;
    }

    .hero-site img{
        width: 45%;
        margin-left: 150px;
        border-radius: 30px 100px;
    }

    .hero-content{
        margin-right: 15%;
        margin-top: 40px;  
    }

    .hero-content h1{
        text-align: left;
        font-size: 1.8rem;
    }

    .hero-content p{
        font-size: 1rem;
        text-align: justify;
        hyphens: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .hero-button{
        font-size: 1.1rem;
        padding: 10px 40px;
    }

    .sobre-container{
        max-width: 60%;
        margin: 100px auto;
    }

    .redes-sociais{
        font-size: 2rem ;
        margin-top: 1rem;
        text-decoration: none;
    }

    .carrocel-tittle{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .carrocel-tittle::after{
        width: 150px;
        height: 2px;
        margin-top: 1rem;
    }

    .carrocel{
        max-width: 50%;
    }

    .card{
        max-width: 80%;
    }


    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria-fotos{
        max-width: 100%;
        display: block;
        margin: 50px auto -150px;

    }

    .slide img{
        width: 100%;
        border-radius: 20px;
    }

    /* TDAH */

    .tdah-image img{
        max-width: 30%;
        height: auto;
        position: relative;
        left: -250px;
        top: 0;
    }

    .tdah-section h1{
        position: absolute;
        top: 120px;
        right: 28%;
        font-size: 2rem;
    }

    .tdah-texto{
        position: absolute;
        top: 230px;
        right: 15%;
        max-width: 350px;
        font-size: 1rem;
        text-align: justify;
        hyphens: auto;
    }

    .cards-container h2{
        margin-top: 100px;
        font-size: 2rem;
    }

    .card-container{
        max-width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }


    /* AUTISMO */

    .autismo-image img{
        max-width: 35%;
        height: auto;
        position: relative;
        left: -250px;
        top: 0;
    }

    .autismo-section h1{
        position: absolute;
        top: 100px;
        right: 28%;
        font-size: 2rem;
    }

    .texto{
        position: absolute;
        top: 200px;
        right: 15%;
        max-width: 450px;
    }

    .texto > p{
        font-size: 1.1rem;
        text-align: justify;
        hyphens: auto;
    }

    .segundo {
        margin-top: -30px;
    }

    .cards-lista{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card p{
        font-weight: bold;
    }

    /* DISLEXIA */

    .dislexia-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin: 4rem auto;
        padding: 0 1rem;
        max-width: 80%;
    }

    .dislexia-img img{
        width: 80%;
        margin-top: 75px;
    }

    .dislexia-content h1{
        font-size: 1.7rem;
    }

    .dislexia-content p{
        font-size: 1rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
        max-width: 900px;
    }

    #cards-titulo{
        text-align: center;
        margin-top: 30px ;
    }

    .card-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
        max-width: 60%;
    }

    .card p{
        text-align: center;
    }

   

    /* TEA - TOD */

    .tod-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin: 4rem auto;
        padding: 0 1rem;
    }

    .tea-image img{
        width: 75%;
        height: auto;
        margin-top: 50px;
        margin-left: 100px; 
    }

    .tea-descrition{
        max-width: 50%;
    }

    .tea-descrition h1{
        margin-top: 10px;
        font-size: 1.5rem;
        margin-right: 240px;
    }

    .texto-tea{
        font-size: 1rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
        max-width: 80%;
        margin-right: 200px;
    }

    .cards-container h2{
        margin-top: 0;
    }

    .cards-tod{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 100px auto;
}

.section-divider span {
  width: 12px;
  height: 12px;
  background-color: var(--title-main);
  border-radius: 50%;
}
 
}