:root{
   /* Backgrounds */
  --bg-main: #f8f9fa;
  --bg-card: #ffffff;
  --bg-footer: #5a9db7;

  /* Brand / Ação */
  --primary: #62A1BB;
  --primary-hover: #4f8ea6;

  /* Títulos */
  --title-main: #1a470f;
  --title-secondary: #6fa83a;

  /* Texto */
  --text-main: #333333;
  --text-muted: #6c757d;

  /* Estados */
  --success: #7bbf6a;
  --focus: #9fd3e5;

  /* box shadow */
  --box-shadow: 0 0 10px -5px var(--text-muted);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.autismo{
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
}

.autismo-image{
    max-width: 80%;
    margin: 0 auto 2rem;
}

.autismo-image img{
    width: 85%;
    height: auto;
    display: block;
    margin: 100px auto 0;
    border-radius: 15px 50px;
    box-shadow: 0 0 15px -5px var(--text-muted);
    object-fit: cover;
}

.autismo-section h1 {
    font-size: 2rem;
    color: var(--title-main);
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.autismo-section h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--title-main);
    margin: 10px auto;
    border-radius: 2px;
}

.texto p{
    max-width: 80%;
    margin: 0 auto 2rem;
    line-height: 1.3;
    color: var(--text-main);
    font-weight: 500;
    text-align: left;
    hyphens: auto;
    font-size: 1.2;
}

.texto p > span{
    color: var(--title-main);
    font-weight: bold;
}

.cards > h3{
    text-align: center;
    font-size: 1.7rem;
    color: var(--title-main);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 50px;
}

.cards > h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--title-main);
    margin: 10px auto;
    border-radius: 2px;
}

.cards-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 0;
  list-style: none;
}

.card {
  background-color: var(--bg-main);
  padding: 1.5rem;
  border-radius: 15px;
  outline: none;
  box-shadow: 0 0 10px -5px var(--text-main);
  max-width: 80%;
  margin: 30px auto
}

.card h4 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: var(--title-main);
  text-align: center;
}

.card p {
  font-size: 1rem;
  text-align: center;
  hyphens: auto;
  max-width: 90%;
  margin-left: 8%;
  padding: 10px;
  font-weight: 800;
}


.footer-container{
    margin-top: 50px;
}

