:root{
   /* Backgrounds */
  --bg-main: #f8f9fa;
  --bg-card: #ffffff;
  --bg-footer: #5a9db7;

  /* Brand / Ação */
  --primary: #62A1BB;
  --primary-hover: #4f8ea6;

  /* Títulos */
  --title-main: #1a470f;
  --title-secondary: #6fa83a;

  /* Texto */
  --text-main: #333333;
  --text-muted: #6c757d;

  /* Estados */
  --success: #7bbf6a;
  --focus: #9fd3e5;

  /* box shadow */
  --box-shadow: 0 0 10px -5px var(--text-muted);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tod-section{
    max-width: 100%;
    margin: 4rem auto;
    padding: 0 2rem;
}

.tea-image{
    max-width: 100%;
    margin: auto 2rem;
}

.tea-image img{
    width: 0%;
    height: auto;
    border-radius: 15px 50px;
    box-shadow: 0 0 15px -5px var(--text-main);
    object-fit: cover;
    margin: 50px auto;
}

.tea-titulo{
    text-align: center;
    font-size: 2rem;
    color: var(--title-main);
    font-weight: bold;
    margin-bottom: 50px;
}

.tea-titulo::after{
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: var(--title-main);
    margin: 10px auto;
    border-radius: 2px;
}

.texto-tea{
    max-width: 100%;
    margin: 0 auto 3rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: justify;
    hyphens: auto;
    color: var(--text-main);
}

.texto > span{
    color: var(--title-main);
    font-weight: bold;
}

.cards-container{
    width: 100%;
    margin: auto;
}

.cards-container h2{
    font-size: 1.5rem;
    color: var(--title-main);
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.cards-container h2::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--title-main);
    margin: 10px auto;
    border-radius: 2px;
}

.cards{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1fr);
}

.card{
    width: 80%;
    background-color: var(--bg-main);
    box-shadow: 0 0 20px -10px var(--text-main);
    border-radius: 12px;
    margin: 30px auto;
    padding: 30px;
}

.card h3{
    color: var(--title-main);
    margin-bottom: 20px;
    text-align: center;
}

.card p{
    text-align: center;
    font-weight: 800;
}


